/* Header with avatar picture */

header {
  display: flex;
  font-family: 'source sans pro', sans-serif;
  height: 400px;
  width: 100%;
  background-color: #ebebeb;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .userAvatar {
  justify-content: center;
} */

/* .userName {
  margin-top: 0;
} */

/* .container {
  align-content: center;
} */