/* Navigation Bar */

nav {
  margin: 0;
  background-color: #4056A1;
  font-family: 'bungee', sans-serif;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.dropdown-nav {
  margin: 1.5em;
  font-family: 'source sans pro', sans-serif;
}

.dropdown-nav:hover {
  background-color: #839df1;
}

.logo {
  margin: 1.5em;
}