/* New tweet */

.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'source sans pro', sans-serif;
  margin: auto;
} 

.error-empty {
	color: #D8000C;
	background-color: #FFBABA;
  border-color: #D8000C;
  border-style: solid;
  text-align: center;
}

.error-exceed {
	color: #D8000C;
	background-color: #FFBABA;
  border-color: #D8000C;
  border-style: solid;
  text-align: center;
}

.h2-title {
  align-self: center;
}

.hum-form {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  width: 350px;
}

.counter {
  font-size: 28px;
  font-family: 'bungee', sans-serif;
}

.red-counter{
  color: red
}

button {
  background-color: #4056A1;
  font-family: 'bungee', sans-serif;
  color: #FFFFFF;
}

#tweets-container {
  display: flex;
  flex-flow: column-reverse;
  z-index: 0;
}