/* Tweet Box */

.tweet-article {
  border-style: solid;
  background-color: #ffffff;
  font-family: 'source sans pro', sans-serif;
  height: 100;
  width: 40%;
  display: flex;
  flex-direction: column;
  opacity: 0.5;
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.hoverArticle {
  border-style: solid;
  background-color: #ffffff;
  font-family: 'source sans pro', sans-serif;
  height: 100;
  width: 40%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px;
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweetHandle {
  align-self: flex-end;
}

.tweet-footer {
  width: 100%;
  border-top-style: solid;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: row;
}