/* Tweet Box */

.tweet-article {
  border-style: solid;
  background-color: #ffffff;
  font-family: 'source sans pro', sans-serif;
  height: 100;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  opacity: 0.5;
}

.tweet-article:hover {
  opacity: 1;
  box-shadow: 5px 5px;
}

#tweet-handle {
  opacity: 0;
}

.tweet-article:hover #tweet-handle {
  opacity: 1;
}

.img-avatar {
  height: 64px;
  width: 64px;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-container{
  display: flex;
  flex-direction: row;
}

.tweet-footer {
  width: 100%;
  border-top-style: solid;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.buttons {
  display: flex;
  flex-direction: row;
}